{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="{% static 'portfolio/ds.png' %}">

    <!-- <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> -->

    <link rel="stylesheet" href="{% static 'portfolio/custom.css' %}">

    <title>Denis Serdyuk</title>
  </head>
  
  <body>
    <br>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:blogs' %}">Blog</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/denis-serdyuk-a4276b58/" target="_blank">Linkedin</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://github.com/diserdyuk" target="_blank">Github</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% static 'portfolio/Denis_Serdyuk_Python_developer.pdf' %}">CV</a>
      </li>
    </ul>

    <div class="row justify-content-center mb-3">
      <div class="col-md-9 text-left">
        {% block content %}{% endblock %}
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>


